<div class='container'>
  <h1> Tasks </h1>
  <ul>
    <% @tasks.each do |task| %>
      <li><%= link_to task.title, task_path(task), class: 'text-decoration-none text-primary' %></li>
    <% end %>
  <ul>
</div>

<%= link_to "New", new_task_path, class: 'btn btn-primary mx-3' %>
